@model Product


<h1 style="text-align:center">Create Product</h1>

<div class="container">

    <form method="post" asp-controller="Product" asp-action="CreateProduct">
       

        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" placeholder="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Company"></label>
            <input asp-for="Company" class="form-control" placeholder="Company">
            <span asp-validation-for="Company" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price"></label>
            @Html.TextBoxFor(m => m.Price,  new { @type = "number", @class = "form-control", @min = "0" , @placeholder = "Price" } )
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        

        <button type="submit" asp-controller="Product" asp-action="CreateProduct" class="btn btn-sucess">Create</button>
        <button type="submit" asp-controller="Product" asp-action="GetAllProduct" class="btn btn-danger">Cancel</button>

    </form>


</div>

