@model Customer

<h1 style="text-align:center">Edit Product</h1>


<div class="container">

    <form asp-controller="Customer" asp-action="EditCustomer" method="post" class="mt-3">


        <input type="hidden" asp-for="CustomerId" />

        <div class="form-group">
            <label asp-for="CustomerName"></label>
            <input asp-for="CustomerName" class="form-control" placeholder="Product Name">
            <span asp-validation-for="CustomerName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address"></label>
            <input asp-for="Address" class="form-control" placeholder="Company">
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control" placeholder="Price">
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <button type="submit" asp-controller="Customer" asp-action="EditCustomer" class="btn btn-success">Update</button>
        <button type="submit" asp-controller="Customer" asp-action="GetAllCustomer" class="btn btn-danger">Cancel</button>




    </form>



</div>